html {
  background-color: #c9b5ab;
  line-height: 1.5;
  font-family: "PT Serif", serif;
}

h1, h2 {
  color: #3f1622;
  font-family: "PT Sans", sans-serif;
  font-weight: bold;
}

a {
  color: #8f2440;
  text-decoration: none;
  font-weight: bold;
}

a:hover {
  color: #3f1622;
  font-size: 1.125rem;
  text-decoration: underline;
}

cite {
  font-size: 1.5rem;
  text-align: center;
  font-family: "PT Serif", serif;
}

img {
  width: 100%;
}

ol {
  list-style-type: none;
}

footer a:hover {
  color: #3f1622;
}

figcaption {
  font-size: 1rem;
  font-style: italic;
  text-align: center;
  font-weight: normal;
}

.stat {
  font-weight: bold;
  font-size: 1.5rem;
}

.common {
  list-style-type: lower-greek;
}

.tags {
  list-style-type: circle;
}

dt {
  font-weight: bold;
}

h2 {
  font-size: 2rem;
  font-weight: bold;
}
