html {
  background-color: #c9b5ab;
  line-height: 1.5;
  font-family: "PT Sans", sans-serif;
}

h1, h2 {
  color: #3f1622;
  font-family: "PT Serif", serif;
}

nav ul {
  color: #8f2440;
}

nav a:hover {
  color: #3f1622;
  font-size: 1.125rem;

}
cite {
  font-size: 1.5;
  text-align: center;
}

img {
  width: 100%;
}

ol {
  list-style-type: none;
}

footer a:hover {
  color: #3f1622;
}

figcaption {
  font-size: .8rem;
  font-style: italic;
  text-align: center;
}

dl dd {
