html {
  background-color: #c965ab;
  font-family: "PT Sans", sans-serif;
  line-height: 1.5;
}

h1, h2 {
  color: #3f1622;
}

nav {
  color: #8f2440;
}

nav a:hover {
  color: #3f1622;
  font-size: 1.125rem;
}

ol {
  list-style-type: none;
}
